.tour {
    display: grid;
    /* grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-columns: repeat(3, minmax(0, 1fr)); */
    gap: 0.75rem;
    flex-direction: row;
    overflow: hidden;
    margin: 2rem;
    justify-content: space-around;
    scroll-behavior: smooth;
}

.addTour {
    border: none;
    margin-top: 1rem;
}

.pMoTa {
    /* width: 500px; */
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
}

